body
{
    margin: 0px;
    padding: 0px;
    font-family: Okra,Helvetica,sans-serif;
}

/*header*/
#nav_phon_cont
{
    display: none;
}
header
{
    height: 26.5rem;
    
    background-image: url("images/homepage/header_back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
#phon_nav
    {
       display: none;
       
    }

#head_cont1
{

width: 100%;
max-width: 1024px;
margin: auto;
height: 26rem;
clear: both;
}
#nav_bar
{
    overflow: hidden;
}
#nav_info h1
{
    color: white;
    font-size: 40px;
    width: fit-content;
    margin:0rem;
    font-weight: 400;
}
#nav_info
{
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
}
#nav_options
{
    width: 60%;
    height: 44px;
    margin: auto;
    border-radius: 1rem;
}
#nav_options > select
{
    float: left;
    height: inherit;
    width: 50%;
}


#download
{
    position: absolute;
    left: 7rem;
    top: 1.9rem;
    font-weight:bolder;
   font-size: 14px;
    
}
#nav_title
{
    margin-top: 1rem;
}
#nav_title >img
{
    display: block;
    width: 26%;
    height: 100%;
    margin: auto;
}

#nav_bar>ul
{
    
    display: flex;
    list-style-type: none;
    color:white;  
    margin: 0rem;
    width: 67%;
    float: right;
    justify-content: flex-end;
    padding: 30px 0px
    
   
    
}
ul li
{
   padding: 0% 2%; 
   font-weight: 300;
   font-size: 18px;
   font-family: Okra,Helvetica,sans-serif;

}
/* order_online */
#order_online
{ 
    width: 90%;
    max-width: 1024px;
    margin:0rem auto 2rem auto;  
}

#online_cont1 
{
    display: block;
    width: 30.2%;
    float: left;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2.5rem 1.5%;
    border: 0.5px solid rgba(79, 79, 79, 0.701);
    transition: 0.5s transform;
}
#online_cont1:hover
{
    transform: scale(1.02);
}
#online_cont1 >img
{
    display: block;
    width: 100%;
    height:8rem;
}
#online_cont1 >p
{
    color:rgb(79, 79, 79);
    margin: 0.5rem 1rem ;
}
#online_cont1 >h5
{
    font-weight: 300;
    font-size: 24px;
    margin: 0.5rem 1rem ;
}
#popular_local:hover
{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.562);
}
#online_cont2
{
    overflow: hidden;
    clear: both;
    padding-bottom: 2rem;
}

#online_cont2 h2
{
    font-size: 30px;
    font-weight: 300;
}
#popular_local
{
    width: 29%;
    border-radius: 1rem;
    border: 0.5px solid rgba(79, 79, 79, 0.701);
    padding-left: 1rem;
    float: left;
    transition: 0.5s all;
    margin: 0% 1%;
    
}
#popular_local h4
{
    font-size: 26px;
    margin: 0.5rem 0rem;
    font-weight: 300;
}
#popular_local p
{
    color:rgb(79, 79, 79);
}
/* app_download */
#app_download
{
     width: 100%;
    background-color: rgb(255, 251, 247);
}
#app_download_cont1
{
    width: 85%;
    max-width: 845px;
    padding: 5rem 0rem;
    margin: auto;
    overflow: hidden;
    
}
#app_download_img
{
    width: 33%;
    height: inherit;
    float: left;
    
}
#app_download_img >img
{
    width: 85%;
    height: 21%;
    margin: 5rem 0rem 0rem 2rem;
}
#app_download_form
{
    float: left;
    width: 63%;
    padding: 2%;
}
#app_download_form >h1
{
    font-size: 40px;
    font-weight: 600;
    margin: 1rem 0rem 0rem 0rem;
    letter-spacing: 0.5px;
}
#app_download_form >h3
{
    color:rgb(79, 79, 79);
    font-size: 18px;
    font-weight: 300;
    width: 90%;
    margin: 1.5rem 0rem 0rem 0rem ;

}
#app_download_form >input
{
    margin: 1.5rem 0rem 0rem 0rem;
    letter-spacing: 2px;
    padding-right: 2px;
}
#app_download_form input[type=text]
{
    width: 60%;
    float: left;
    font-size: 1.1rem;
    height: 44px;
    margin: 1rem 1rem 0rem 0rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(207, 207, 207);
}
#app_download_form button
{
    width: 25%; 
    margin: 1rem 0rem; 
    float: left; 
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    background-color:  rgb(239, 79, 95);
    font-size: 14px;
    color: white;


}
#app_download_form h5
{
    color:rgb(182, 180, 180);
    font-size: 15px;
    font-weight: 200;
    clear: both;
}
#app_download_form >img
{
    display: block;
    width: 30%;
    float: left;
    padding-right: 20px;
    height: 40px;
}
/* explore */
#explore
{ 
    width: 100%;
    margin: auto;
    background: rgb(252, 252, 252);
    padding: 5rem 0rem;
    
}
#exp_cont1
{
    width: 90%;
    margin: auto;
    max-width: 1024px;
   
}
#explore h1
{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
}
#exp_option ,#exp_option2 ,#exp_option3
{
    padding: 1.5%;
    width:96%;
    background: rgb(255, 255, 255);
    border:  1px solid rgb(232, 232, 232);
    border-radius:1rem;
    margin-top :1rem;
}
#exp_option h2 , #exp_option2 h2 ,#exp_option3 h2
{
    font-size: 20px;
    font-weight: 300;
    margin: 0rem;
    letter-spacing: 2px;

}
#option_1 ,#option_2 ,#option_3
{
    display: none;
}
/* footer */

footer
{
    width: 90%;
    max-width: 1024px;
    margin: auto;
}
footer #logo
{
    width: 100%;
    margin-top: 2rem;
}
#foot_option
{
    float: right;
    width: 21%;
}
footer select
{
    
    margin: 0rem 11px;
    width: 5rem;
    height: 44px;
    font-size: 1rem;
}
.foot_cont
{
    width: 20%;
    float: left;
}
.foot_cont >ul
{
    list-style-type: none;
    padding: 0px;
}
.foot_cont ul li b
{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.foot_cont ul li
{
    padding-top:14px ;
    font-size: 14px;
    letter-spacing: 2px;
    color:rgb(152, 148, 148);
}
footer>p
{
    font-size: 12px;
    margin-top: 0rem;
    color: rgb(79, 79, 79);
    line-height: 1.7rem;
 
}
.fa
{
    color: white;
    background-color: black;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
}
.foot_cont ul li i
{
    font-size: 0.8rem;
    width: 0.8rem;
    text-align: center;
    height: 0.8rem;
}
.foot_cont ul li img
{
    width: 88%;

}
/* phone and tab */

@media screen and (max-width:790px)
{
    #nav_bar ul
    {
        display: none;
        visibility: hidden;
    }
    .fa
    {
        color: azure;
        font-size: 1rem;
    }
    #phon_nav i
    {
        background-color: transparent;
        font-size: 1.5rem;
        margin: 11px 0px 0px 10px;
    }
    #phon_nav
    {
        width: 90%;
        display: block;
    }
    #nav_phon_cont
    {
        position: fixed;
        height: 100%;
        display: none;
        width: 100%;
        background-color: white;
    }
    #nav_phon_cont>ul
    {
        list-style-type: none;
    }
    #nav_phon_cont > img
    {
        position: absolute;
        right: 7px;
        top: -42px;

    }
    .fa-remove
    {
        color: black;
        font-size: 3rem;
    }
    
}
